.sectionfirstdet {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top:  200px;
    background-color: rgb(0, 102, 255);

    .searchsort {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        input {
            border-radius: 30px;
            width: 20%;
            height: 40px;
            font-size: 20px;
            padding: 0px 10px;
            outline: none;
            border: 2px solid #666;
        }

        select {
            border-radius: 30px;
            height: 40px;
            font-size: 20px;
            padding: 0px 10px;
            outline: none;
            border: 2px solid #666;
            width: 10%;
        }
    }

    .sectioncon {
        width: 100%;
        padding: 50px 0 100px 0;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;

        div {
            flex: 1 1 calc(25% - 20px);
            max-width: calc(25% - 20px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            span{
                display: flex;
                width: 100%;
                justify-content: center;
                gap: 20px;
            }
            img {
                object-fit: cover;
                height: 64px;
                width: 64px;
            }

            h1 {
                font-size: 24px;
                font-weight: 400;
                text-align: center;
                font-family: sans-serif;
            }

            p {
                text-align: center;
                font-family: "Quicksand";
                font-style: normal;
                font-weight: 500;
                color: #666;
            }
        }
    }
    .load{
        width: 100%;
        padding: 20px 0 100px 0;
        display: flex;
        justify-content: center;
        .loadmore{
            width: 200px;
            color: rgb(255, 255, 255);
            border: none;
            background-color: rgb(42, 42, 240);
            height: 60px;
            border-radius: 20px;
            font-size: 20px;
            transition: 0.4s ease;
            &:hover{
                color: rgb(42, 42, 245);
                background-color: yellow;
            }
            
        }
    }
}

@media screen and (max-width:1100px) {
    .sectionfirstdet {
        .searchsort {
            flex-direction: column;
            gap: 20px;
            input {

                width: 40%;
            }

            select {
                width: 40%;
            }
        }
        .sectioncon {
            div {
                flex: 1 1 calc(50% - 20px);
                max-width: calc(50% - 20px);
            }
        }
    }
}

@media screen and (max-width:768px) {
    .sectionfirstdet {
        .sectioncon {
            div {
                flex: 1 1 calc(100% - 20px);
                max-width: calc(100% - 20px);
            }
        }
    }
}